*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

ul, li{
  list-style: none;
}

.header{
  /* padding: 42px 0 42px 0; */
  background-color: #0a0a0a;
  color:#fff;
}


html, 
body{
  overflow-x: hidden;
}

body{
  font-family: Inter;
  font-weight: 400;
  line-height: 1.6;
  color:#0a0a0a;
  font-size: 18px;
}

/*  Header   */

.nav{
  min-height: 113px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__item:not(:last-child){
  margin-right: 30px;
}

.menu{
  display: flex;
  flex-basis: auto;
}

.menu-btn{
  display: none;
}

.phone{
  flex-basis: auto;
  text-align: right;
}

/*    Main   */

.main__section{
  padding: 71px 0 40px;
  background: #F5F5F7;
  text-align: center;
}

.main__title:not(:last-child){
  margin: 0 0 40px;
}

.main__title{
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  color: #490E84;
  text-align: center;
  text-transform: uppercase;
}

.main__img:not(:last-child){
  margin-bottom: 25px;
}

.main__btn{
  text-transform: uppercase;
  display: inline-block;
  background: #490E84;
  border-radius: 30px;
  color:#fff;
  padding: 21px 117px;
  font-weight: 700;
  font-size: 24px;
  line-height: 121%;
}

/*    New    */

.new-section {
  padding: 85px 0 150px;
}

.new-section__title:not(:last-child){
  margin-bottom: 50px;
}

.h2 {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 122%;
  color: #717171;
  text-transform: uppercase;
}

.new-text p{
  margin-bottom: 30px;
  line-height: 130%;
  max-width: 560px;
}

.new-text b{
  max-width: 560px;
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
}

.new-info{
  display: flex;
  align-items:center;
}

.new__img{
  display: block;
  justify-content: center;
  margin-left: 150px;
}

/*    Color    */

.color{
  padding-bottom: 156px;
}

.color__title{
  margin-bottom: 50px;
}

.color__list{
  display: flex;
  justify-content: space-evenly;
}

.color__item h3{
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
}

/*   Contacts    */

.contacts__wrapper{
  display: flex;
  color: #FFFFFF;
}

.contacts__form{
  width: 100%;
  background: #574B63;
  display: flex;
  flex-direction: column;
  padding: 140px 100px;
}

.contacts__form h2{
  text-align: left;
  font-weight: 700;
  font-size: 32px;
  line-height: 122%;
  text-transform: uppercase;
  margin-bottom: 72px;
}

.contacts__input::placeholder{
  color: #FFFFFF;
  opacity: 0.5;
  font-family: Inter;
}

.contacts__input:not(:last-child){
  margin-bottom: 30px;
}

.contacts__form button{
  background: #FFFFFF;
  border-radius: 30px;
  padding: 16px 81px;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  color: #490E84;
  text-transform: uppercase;
  align-self: center;
  border: 0;
}

.contacts__form p{
  align-self: center;
  opacity: 0.5;
  margin-bottom: 30px;
}

.contacts__input{
  padding: 0 0 10px 0;
  border: 0;
  background:none;
  border-bottom: 1px solid #F5F5F5;
}

/*   @Media     */

@media (max-width: 1290px){
  .menu-btn{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 0;
    order: 1;
    z-index: 2;
    margin-right: 5px;
  }

  .menu-line:nth-child(1){
    top: 0;
  }
  .menu-line:nth-child(2){
    top: 15px;
  }
  .menu-line:nth-child(3){
    top: 15px;
  }
  .menu-line:nth-child(4){
    top: 30px;
  }

  .burger .menu-line:nth-child(1){
    transform: scale(0);
  }

  .burger .menu-line:nth-child(2){
    transform: rotate(45deg);
  }

  .burger .menu-line:nth-child(3){
    transform: rotate(-45deg);
  }

  .burger .menu-line:nth-child(4){
    transform: scale(0);
  }

  .menu-line{
    position: absolute;
    background-color:#fff;
    height: 2px;
    /* width: 100%; */
    left: 0;
    right: 0;
    transition: all .8s ease;
  }
  
  .header__menu{
    position: absolute;
    /* width: 100%;  Another option  */
    /* height: 100%;  */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #490E84;
    font-size: 30px;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    transform: translateX(-100%);
    transition: all .8s ease;
  }
 
  .burger .header__menu{
    transform: translateX(0);
  }

  /* .menu__item{
    margin-right: 0;
  }  if not last-child is used, it doesn't apply*/

  .menu__item:not(:last-child){
    margin: 0 0 24px 0;
  }
  
  .logo,
  .phone{
    position: relative;
    z-index: 2;
  }

  .phone{
    text-align: center;
  }
}

@media (max-width: 1210px){
  .main__img{
    max-width: 100%;
  }

  .color__list{
    gap: 40px;
  }
}

@media (max-width: 1112px){
  .color__list{
    flex-wrap: wrap;
    gap: 0;
    text-align: center;
  }
  
  .color__item{
    width: 50%;
    margin-bottom: 32px;
  }

  .new-info{
    flex-direction: column;
  }
  
  .new__img{
    margin: 40px 0 0 0;
  }

  .contacts__wrapper{
    flex-direction: column;
  }

  .contacts__form h2{
    text-align: center;
  }

  .contacts__form{
    padding: 110px 70px;
  }
}

@media (max-width: 586px){
  .main__title{
    font-size: 44px;
    line-height: 110%;
  }

  .main__btn{
    padding: 21px 88px;
  }

  .contacts__form{
    padding: 100px 60px;
  }

  .color__item{
    width: 100%;
  }

  .color__item img{
    width: 100%;
  }

  .footer__nav{
    flex-direction: column;
  }

  .footer__nav .logo{
    margin: 25px 25px; 
  }

  .phone{
    padding-bottom: 15px;
  }
}

@media (max-width: 375px){
  .main__title{
    font-size: 34px;
    line-height: 100%;
  }

  .main__btn{
    padding: 20px 80px;
    font-size: 20px;
  }

  .contacts__form{
    padding: 70px 10px;
  }

  .new-section{
    padding: 60px 0 100px;
  }

  .color{
    padding: 0 0 100px;
  }
}